---
layout: home
---
<div class="user-details">
<h2> About Me </h2>
<p style="text-align: justify;"> My name is Yile (Wayne) Wang. Currently I am a Master student of Applied Cognition and Neuroscience Program in The University of Texas at Dallas, working at <strong>Brain Circuits Laboratory</strong> (PI: <a href="https://bbs.utdallas.edu/faculty/detail.php5?i=2036" rel="nofollow">Dr. Ana Solodkin</a>). Our lab is using TheVirtualBrain (<a href="https://www.thevirtualbrain.org/tvb/zwei" rel="nofollow">TVB</a>) to do series of studies on clinical populations, including Alzheimer's, MCI, Parkinson's, etc. I do computational neuroscience research on brain dynamics, brain connectivity and brain simulation within TVB framework. Personally, I am interested in large-scale brain networks dynamics and its association with human's behavior and cognition. <br> <br> To know more about me, please see the <a href="blog/about"> about page</a> or my google scholar and twitter pages below. </p>
 </p>
<p align="left"><font size="3"><a href="https://scholar.google.com/citations?user=bgnVj8wAAAAJ&hl=en"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar </a> <br> <a href="https://twitter.com/yilewangwayne"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a> </font></p>


</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts: </h2>
<ul>
	<li>Brain Dynamics and Alzheimer's Disease</li>
	<li>Brain Lateralization and Alzheimer's Disease</li>
	<li>The Achilles' Heel of Questionnaires.</li>
</ul>

</div >
