<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1,maximum-scale=1,user-scalable=no" />
      <link rel="shortcut icon" type="image/x-icon" href="/brain_icon.ico?">
      <title >Posts</title>
   </head>
    <div class="topnav" id="topnav">
      <a class="sidebar-nav-item" href="https://yilewang.github.io/">Home</a>
	   <a class="sidebar-nav-item" href="https://yilewang.github.io/blog">Posts</a>
	   <a class="sidebar-nav-item" href="https://yilewang.github.io/blog/about" >About</a>
	   <a class="sidebar-nav-item" href="https://yilewang.github.io/blog/cv">CV</a>
	   <a class="sidebar-nav-item" href="https://github.com/yilewang" target="_blank">
   GitHub</i>
   </a>
      </div>
      <!-- link to topbar.css-->
      <link rel="stylesheet" href="/assets/css/topbar.css">
      <link rel="stylesheet" href="https://yilewang.github.io/assets/typora/vue.css">

      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet" async>
      <!---->

   	<body>
      	<!-- Add all page content inside this div if you want the side nav to push page content to the right
         	(not used if you only want the sidenav to sit on top of the page -->
	<div style="width: 80vw; height: auto; margin: 0 auto;">
                  {{ content }}			
        </div>
      
	</body>
		    
   <footer>
   <p style="margin-left: auto; margin-right: auto;"> 
      &copy; 2018-2021, Yile Wang. This site is open source.  <a href="https://github.com/yilewang/yilewang.github.io/edit/master/404.html" target="_blank">Improve this page</a>. <a href="https://github.com/yilewang/yilewang.github.io/blob/master/LICENSE.md" target="_blank">License</a>. <a href="https://yilewang.github.io/info/disclaimer" target="_blank">Disclaimer</a>. 
   </p>
	 
     
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d=&cl=ffffff" />
</div>

	 
</footer>

<link rel="stylesheet" href="https://yilewang.github.io/assets/css/footer.css" > 
</html>
